*.pt
*.pth
*.pkl
*.png
*.jpg
*.jpeg
*.npy
*.npz
**/__pycache__
.watchman*
.nfs*
*events.out*
.fuse*
.bin*
.safetensors*
SEGMENTATION/MaskFormer/Mask2Former/output
GENERATION/Seg2Image/SEAN/checkpoints
