*.pt
*.pth
*.pkl
*.png
*.jpg
*.jpeg
*.npy
*.npz
*.wav
*.mp3
*.mp4
*.mkv
*.avi
*.zip
**/__pycache__
.watchman*
.nfs*
*events.out*
.fuse*
.bin*
.safetensors*
SEGMENTATION/MaskFormer/Mask2Former/output
GENERATION/Seg2Image/SEAN/checkpoints
